@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:200");

a {
  font-size: 30px;
  margin: 20px;
  text-decoration: none;
  color: rgb(31, 80, 165);
  font-family: raleway;
  border-bottom: 1px solid white;
  transition: color 0.5s ease-out;
  font-weight: bold;
}

i {
  margin: 10px;
}
a:hover {
  color: rgb(215, 223, 236);
  border-bottom-color: teal;
  font-weight: bold;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  color: coral;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgb(243, 157, 149);
}

.grid-container {
  columns: 5 200px;
  column-gap: 1.5rem;
  width: 90%;
  margin: 0 auto;
}

.grid-container div {
  width: 150px;
  margin: 0 1.5rem 1.5rem 0;
  display: inline-block;
  width: 100%;
  border: solid 2px rgb(18, 18, 19);
  padding: 5px;
  box-shadow: 5px 5px 5px rgba(197, 21, 21, 0.5);
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}
.grid-container p {
  margin: 5px 0;
  padding: 0;
  text-align: center;
  font-style: italic;
}
img:hover {
  filter: grayscale(0);
  border-color: coral;
}
img {
  width: 100%;
  filter: grayscale(100%);
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}

@media screen and (max-width: 920px) {
  nav {
    justify-content: space-around;
  }
  a {
    font-size: 26px;
  }
}
@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
}
